<div class="container_small_card">

    <div class="container_small_card_content">

        <div class="small_card_photo">
            <img src="https://bs-uploads.toptal.io/blackfish-uploads/components/seo/content/og_image_file/og_image/1275958/top-18-most-common-angularjs-developer-mistakes-41f9ad303a51db70e4a5204e101e7414.png" alt="" srcset="">
        </div>
    
        <div class="small_card_title">
            <h1>Título!</h1>
        </div>

    </div>

    <div class="container_small_card_separator">
        <hr>    
    </div>

</div>

